.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .title-group {
    padding-left: 25px;
}

.end{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}