<mat-card center>
    <mat-card-title>Marcos Paulo Barbosa</mat-card-title>
    <mat-card-subtitle>Desenvolvedor full stack</mat-card-subtitle>
    <mat-card-content>Técnico em Informática e bacharelando em Ciência e Tecnologia.<br>
        Experiência em javascript puro, React.js e aprendendo recentemente Angular.</mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <a href="http://www.linkedin.com/in/marcos-paulo-barbosa" target="_blank">
            <button mat-button>
                <img class="logo" src="assets/img/linkedin.png" alt="likedin">
            </button>
        </a>
        <a href="http://lattes.cnpq.br/0749979595650193" target="_blank">
            <button mat-button>
                <img class="logo" src="assets/img/lattes.png" alt="lattes">
            </button>
        </a>
    </mat-card-actions>
</mat-card>